<section class="chatSection">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
		    <div class="chatSend">
		    	<div class="chatHead">
		    		<div class="row">
			    		<div class="col-xs-9">
			    			<p>Hi, <strong>{{ name }}</strong> !</p>
			    		</div>
			    		<div class="col-xs-3 text-right">
			                <a ui-sref="login" ng-click="Logout()"><i class="icon-signout"></i> Sign out</a>
			    		</div>
			    	</div>
		    	</div>
		    	<div class="chatBody" scroll-bottom="messages">
	    			<p class="messageBox">
	    				<strong>Computer</strong>
	    				Welcome to chat, {{ name }}!
	    				<span class="text-right">May 8, 2017</span>
	    			</p>
	    			<p class="messageBox messageSent" ng-repeat="msg in messages">
	    				<strong>{{ name }}</strong>
	    				{{msg.msg}}
	    				<span class="text-right">{{ currentDate | date }}</span>
	    			</p>
		    	</div>
		    	<form name="sendForm" ng-submit="sendIM(im)" class="chatActions">
			    	<div class="row">
			    		<div class="col-xs-9">
			    			<div class="form-group"">
			                    <input class="form-control" ng-model="im.msg" placeholder="Type your message here..." required />
			                    <p>Press Enter or the button to send</p>
			                </div>
			    		</div>
			    		<div class="col-xs-3">
			    			<div class="form-group">
			                    <button type="submit" ng-disabled="sendForm.$invalid" class="btn btn-primary">Send</button>
			                </div>
			    		</div>
			    	</div>
		    	</form>
		    </div>
		</div>
	</div>
</section>